.nav {
  .nav_inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem 0;
  }

  .social {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.logo {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
